
<!-- <div nz-row [nzGutter]="[16, 24]">
    <div *ngIf="user" nz-col [nzSpan]="6" (click)="handleUserManagement()">
        <nz-card nzHoverable style="width:240px" [nzCover]="coverTemplate">
            <nz-card-meta style="text-align: center;" nzTitle="User management" ></nz-card-meta>
        </nz-card>
        <ng-template #coverTemplate>
            <span style="font-size: 80px; margin-top: 20px;" nz-icon nzType="user" nzTheme="outline"></span>
        </ng-template>
    </div>
    <div *ngIf="product" nz-col [nzSpan]="6" (click)="handleProductManagement()">
        <nz-card nzHoverable style="width:240px" [nzCover]="coverTemplate">
            <nz-card-meta style="text-align: center;" nzTitle="Product management"></nz-card-meta>
        </nz-card>
        <ng-template #coverTemplate>
            <span  style="font-size: 80px; margin-top: 20px;" nz-icon nzType="dropbox" nzTheme="outline"></span>
        </ng-template>
    </div>
    <div *ngIf="banner" nz-col [nzSpan]="6" (click)="handleBannerManagement()">
        <nz-card nzHoverable style="width:240px" [nzCover]="coverTemplate">
            <nz-card-meta style="text-align: center;" nzTitle="Banner management"></nz-card-meta>
        </nz-card>
        <ng-template #coverTemplate>
            <span style="font-size: 80px; margin-top: 20px;" nz-icon nzType="container" nzTheme="outline"></span>
        </ng-template>
    </div>
    <div *ngIf="news" nz-col [nzSpan]="6" (click)="handleNewsManagement()">
        <nz-card nzHoverable style="width:240px" [nzCover]="coverTemplate">
            <nz-card-meta style="text-align: center;" nzTitle="News management" ></nz-card-meta>
        </nz-card>
        <ng-template #coverTemplate>
            <span style="font-size: 80px; margin-top: 20px;" nz-icon nzType="credit-card" nzTheme="outline"></span>
        </ng-template>
    </div>
    <div *ngIf="role" nz-col [nzSpan]="6" (click)="handleRoleManagement()">
        <nz-card nzHoverable style="width:240px" [nzCover]="coverTemplate">
            <nz-card-meta style="text-align: center;" nzTitle="Role management" ></nz-card-meta>
        </nz-card>
        <ng-template #coverTemplate>
            <span style="font-size: 80px; margin-top: 20px;" nz-icon nzType="control" nzTheme="outline"></span>
        </ng-template>
    </div>
</div> -->