button {
    background-color: white;
    color: black;
    border: none;

}

a {
    margin: 0 10px;
}

.spinner {
    margin: 80px 550px;
}

.header-content {
    display: flex;
    margin-bottom: 15px;
}

.search {
    width: 300px;
    /* margin-left: 15px */
}