[nz-form] {
    max-width: 600px;
}

.phone-select {
    width: 70px;
}

.register-are {
    margin-bottom: 8px;
}

input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.button-create {
    margin-right: 15px;
}

.imagePreview {
    margin: auto;
}

.inputImage {
    display: none;
}

.buttonInputImage {
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 18px;
}