<nz-drawer [nzClosable]="false" [nzSize]="'large'" [nzVisible]="isVisible" nzTitle="Banner Information"
    (nzOnClose)="close()">
    <ng-container *nzDrawerContent>
        <div *ngIf="loading">
            <nz-spin nzTip="Loading...">
            </nz-spin>
        </div>
        <div *ngIf="!loading">
            <nz-descriptions [nzColon]="'false'" [nzColumn]="1">
                <nz-descriptions-item nzTitle="Name : ">
                    <p class="dataName">{{rolesDetail.name}}</p>
                </nz-descriptions-item>
                <nz-descriptions-item nzTitle="Created At : ">
                    <p class="dataCa">{{rolesDetail.created_at | date: 'yyyy/MM/dd - HH:mm'}}</p>
                </nz-descriptions-item>
                <nz-descriptions-item nzTitle="Updated At : ">
                    <p class="dataUpa">{{rolesDetail.updated_at | date: 'yyyy/MM/dd - HH:mm'}}</p>
                </nz-descriptions-item>
                <nz-descriptions-item nzTitle="Created By : ">
                    <p class="dataCb">{{rolesDetail.created_by}}</p>
                </nz-descriptions-item>
            </nz-descriptions>
        </div>
    </ng-container>
</nz-drawer>