[nz-button] {
    margin-bottom: 10px
}


.input,
textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 404px;
}

.buttonInputImage {
    background-color: white;
    margin-left: 155px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.inputCheckbox {
    /* font-family: system-ui, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
    height: 22px; */

    /* -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; */
    /* width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    cursor: pointer; */
}

input[type=checkbox].inputCheckbox {
    position: relative;
    cursor: pointer;
}

input[type=checkbox].inputCheckbox:before {
    content: "";
    display: block;
    position: absolute;
    width: 23px;
    height: 21px;
    top: -7px;
    left: 0;
    background-color: #e9e9e9;
}

input[type=checkbox].inputCheckbox:checked:before {
    content: "";
    display: block;
    position: absolute;
    width: 23px;
    height: 21px;
    top: -7px;
    left: 0;
    background-color: #1E80EF;
}

input[type=checkbox].inputCheckbox:checked:after {
    content: "";
    display: block;
    width: 8px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: -7px;
    left: 7px;
}